.rotating-books {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transform-origin: center;
    pointer-events: none;
    z-index: 1;
}

.rotating-books .book-circle {
    border-radius: 50%;
}

.book-circle {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #5bc0de;
    font-weight: bold;
    font-size: 14px;
    color: #fff;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transform: translate(-50%, -50%);
    cursor: pointer;
    pointer-events: auto;
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.book-content {
    transform: rotate(0deg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.4s ease, z-index 0.2s;
    gap: 1px;
}

.book-details {
    margin: 0;
    display: none;
    font-size: 6px;
    color: #fff;
    text-align: center;
    line-height: 0.8;
    padding: 1px;
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.book-circle.expanded {
    transform: translate(-50%, -50%) scale(3);
    z-index: 10;
}

.book-circle.expanded .book-details {
    display: block;
    opacity: 1;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: scale(0.85);
    transform-origin: top;
}

.book-circle.expanded .book-title {
    display: none;
}

.book-circle span {
    font-size: 14px;
    color: #ffffff;
    margin-top: 0px;
}

.book-circle.plan {
    background-color: #f0ad4e;
}

.book-circle.reading {
    background-color: #5bc0de;
}

.book-circle.read {
    background-color: #5cb85c;
}
